<div>
    <h3 class="text-center">Article de la base de données</h3>

    {% for product in this.products %}
        <div class="card m-3">
            <h3 class="text-center">{{product.title}}</h3>
            <p>{{product.content}}</p>
        </div>    
    {% endfor %}
</div>